<footer>
    <div class="row">
        <div class="col-6">
            <p class="text-center fs-3">O que nós aprendemos</p>
            <div class="text-center">
                <p>Programação</p>
                <p>Desenvolvimento Web</p>
                <p>Django</p>
            </div>
        </div>
        <!--  -->
        <div class="col-6 text-center">
            <p class="fs-3">Navegue!</p>
            <p><a href="#" class="nav-link">Sobre nós</a></p>
            <p><a href="{% url 'home' %}" class="nav-link">Home</a></p>
            <p><a href="{% url 'listaPosts' %}" class="nav-link">Posts</a></p>
        </div>
    </div>

    <div class="text-center mt-5">Desenvolvido pela Galera da Associação Beneficente São José em &copy; 2023.&reg;
    </div>

</footer>